@import url('https://fonts.googleapis.com/css?family=Raleway');

/* header start */

body {
    background: #f7f7f7;
}

#header ul {
    padding: 0;
    margin: 0;
}

#header {
    background: #4285f4;
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 100;
}

#header .u-pull-left a {
    font-size: 1em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

#header .u-pull-right a {
    padding: 10px 0px 10px 10px;
}

#header .u-pull-left a:hover {
    background: rgba(0, 0, 0, .1);
}

#header #logo.u-pull-left a:hover {
    background: none;
}

#header #logo a {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px 0 0;
}

#header ul li {
    list-style: none;
}

#header #notification {
    position: relative;
}

#notification {
    position: relative;
}

#notification .notification-block {
    display: none;
    background: #fff;
    position: absolute;
    border-radius: 2px;
    right: -45px;
    top: 50px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 350px;
}

#notification .notification-block:before {
    content: "";
    position: absolute;
    right: 48px;
    top: -29px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
}

#notification .notfication-item {
    cursor: pointer;
    padding: 20px;
    border-bottom: 2px solid #f7f7f7;
}

#notification .notification-item:hover {
    background-color: #e5e5e5;
    background-color: rgba(158, 158, 158, 0.2);
}


/* Header end */


/* Content start */

#content {
    padding: 60px 0;
}


/* Content end */


/* Login start */

#login {
    position: relative;
    width: 100%;
}

#login .login-card {
    margin: 0 auto;
    width: 320px;
}

#login .login-card a {
    text-decoration: none;
}

#login .login-card h4 {
    margin-bottom: 0;
    margin-top: 2rem;
}

#login .login-card a:hover {
    text-decoration: underline;
}


/* Login end */


/* Footer start */

#footer {
    position: absolute;
    bottom: 0;
    background: #263238;
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    height: 45px;
}

#footer a {
    color: #fff;
    margin: 0 1px;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}

#footer a:hover {
    background: rgba(0, 0, 0, .1);
}

#footer span {
    color: #fff;
    margin: 0 1px;
    display: inline-block;
    padding: 3px;
}


/* Footer end */


/* Player start */

#player {
    max-width: 1280px;
    padding: 35px 20px 0 20px;
    margin: 0 auto;
}

#player #video {
    /*height: 100%;*/
    height: 470px;
    width: 100%;
}

.flowplayer.is-splash,
.flowplayer .fp-message {
    background-color: #bbb;
}


/* Player end */


/* Playlist start */

#playlist .playlists-items {
    overflow-y: scroll;
    padding: 0px;
    height: 100%;
    height: 398px;
    margin-bottom: 0;
}

#playlist .playlists-items .playlists-item {
    cursor: pointer;
    padding: 15px 20px;
    margin: 0;
}

#playlist .playlists-items .playlists-item:hover .playlist-ip {
    color: #555;
}

#playlist .playlists-items .playlists-item:hover {
    background-color: #e5e5e5;
    background-color: rgba(158, 158, 158, 0.2);
}

#playlist .playlists-items .playlists-item .playlist-skrin {
    height: 80px;
    width: 80px;
}

#playlist .playlists-items .playlists-item .playlist-block-title {
    display: inline-block;
    margin-left: 10px;
    margin-top: 25px;
}

#playlist .playlists-items .playlists-item .options {
    margin-top: 30px;
    position: relative;
}

#playlist .playlists-items .playlists-item .options .options-title {
    display: none;
    background: #FF5722;
    color: #fff;
    /*padding: 5px 10px;
    border-radius: 2px;*/
    position: absolute;
    top: 0;
    right: 10px;
}

#playlist .playlists-items .playlists-item .playlist-title {
    display: block;
}

#playlist .playlists-items .playlists-item .playlist-ip {
    display: block;
    color: #ccc;
}

#playlist .playlists-items a {
    color: #000;
    text-decoration: none;
}

#playlist ul {
    list-style: none;
}

#playlist ul li {
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 15px;
}

#playlist .playlist-add .playlist-title {
    display: inline-block;
    padding: 5px 0 0 0;
    color: #000;
}

#playlist .playlist-add {
    padding: 20px 25px 20px 20px;
    border-bottom: 2px solid #f7f7f7;
    margin: 0;
}

#playlist .playlist-add img {
    cursor: pointer;
}


/* Playlist end */


/* Element for all page start */

.card {
    background: #fff;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

label {
    cursor: pointer;
}

.max-center {
    max-width: 1280px;
    margin: 0 auto;
}


/* Element for all page end */